<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documedvsfnt</title>
</head>
<body>
<h3>hi</h3>
    <a href="http://127.0.0.1:8000/register/">
        <li><i class="sold"></i>запеструватись</li>
        
    </a>
        <a href="http://127.0.0.1:8000/add_review/">
        <li><i class="sold"></i>додати відгук</li>
        
    </a>
    


    {% for review in all_review %}
{% comment %} 
    <h2>self</h2>
    <p>{{ review }}</p> {% endcomment %}

    <h2>for</h2>

    <p>{{ review.title }}</p>
    <p>{{ review.content }}</p>
    <p>{{ review.author }}</p>
    <p>{{ review.pub_date }}</p>

    {% endfor %}
</body>
</html>