{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ all_form.name }}<br>
        {{ all_form.password }}<br>
        {{ all_form.return_password }}<br>
        {{ all_form.user_birth_date }}<br>
        <span>{{ error }}</span>

        {% comment %} <input type="text" placeholder="псевдонім" class="form-control_username"><br>
        <input type="text" placeholder="пароль" class="form-control_password"><br>
        <input type="text" placeholder="повторений пароль" class="form-control_return_password"><br>
        <input type="date" placeholder="дата народження" class="form-control_date"><br> {% endcomment %}
        <button class="btn btn-success" type="submit">зарейструватись</button>

    </form>
    
{% endblock content %}